<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>javaサンプル</title>
  </head>
  <body>
    <h1>確定</h1>
    <p>
      従業員情報
    </p>

		<div>
		    <form  th:action="@{/display_next}" th:object="${employeeInfo}" method="post">

			    <div>
			        <label>名前:</label>
			        <span th:text="${employeeInfo.name}"></span>
			    </div>
			    <div>
			        <label>性別:</label>
			        <span th:text="${employeeInfo.gender}"></span>
			    </div>
			    <div>
			        <label>部門:</label>
			        <span th:text="${employeeInfo.department}"></span>
			    </div>
			    <div>
			        <label>役職:</label>
			        <span th:text="${employeeInfo.title}"></span>
			    </div>
			    <div>
          			<button type="submit">保存</button>
        		</div>
		    </form>
		</div>
	</body>
</html>